<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body data-ng-init="quantity=1;price=5">
<div ng-app="" ng-init="la0=0;la1=0;la2=0;la3=0;la4=0;la5=0;la6=0;la7=0;la8=0;la9=0;la10=0;la20=0;la30=0;la40=0;la50=0;la60=0;la70=0;la80=0">
<table cellspacing="10">
  <tr>
    <td><img width="80" height="80" ng-show="la0 < 1" ng-click="la0 = la0 + 3" src="C:\Sergio\bingo19\0.png"><img width="80" height="80" ng-show="la0 > 1" src="C:\Sergio\bingo19\0.png"></td>
    <td><img width="80" height="80" ng-show="la10 < 1" ng-click="la10 = la10 + 3" src="C:\Sergio\bingo19\10.png"><img width="80" height="80" ng-show="la10 > 1" src="C:\Sergio\bingo19\10v.png"></td>
    <td><img width="80" height="80" ng-show="la20 < 1" ng-click="la20 = la20 + 3" src="C:\Sergio\bingo19\20.png"><img width="80" height="80" ng-show="la20 > 1" src="C:\Sergio\bingo19\20v.png"></td>
    <td><img width="80" height="80" ng-show="la30 < 1" ng-click="la30 = la30 + 3" src="C:\Sergio\bingo19\30.png"><img width="80" height="80" ng-show="la30 > 1" src="C:\Sergio\bingo19\30v.png"></td>
    <td><img width="80" height="80" ng-show="la40 < 1" ng-click="la40 = la40 + 3" src="C:\Sergio\bingo19\40.png"><img width="80" height="80" ng-show="la40 > 1" src="C:\Sergio\bingo19\40v.png"></td>
    <td><img width="80" height="80" ng-show="la50 < 1" ng-click="la50 = la50 + 3" src="C:\Sergio\bingo19\50.png"><img width="80" height="80" ng-show="la50 > 1" src="C:\Sergio\bingo19\50v.png"></td>
    <td><img width="80" height="80" ng-show="la60 < 1" ng-click="la60 = la60 + 3" src="C:\Sergio\bingo19\60.png"><img width="80" height="80" ng-show="la60 > 1" src="C:\Sergio\bingo19\60v.png"></td>
    <td><img width="80" height="80" ng-show="la70 < 1" ng-click="la70 = la70 + 3" src="C:\Sergio\bingo19\70.png"><img width="80" height="80" ng-show="la70 > 1" src="C:\Sergio\bingo19\70v.png"></td>
    <td><img width="80" height="80" ng-show="la80 < 1" ng-click="la80 = la80 + 3" src="C:\Sergio\bingo19\80.png"><img width="80" height="80" ng-show="la80 > 1" src="C:\Sergio\bingo19\80v.png"></td>
  </tr>
  <tr>
    <td><img width="80" height="v" ng-show="la1 < 1" ng-click="la1 = la1 + 3" src="C:\Sergio\bingo19\1.png"><img width="80" height="80" ng-show="la1 > 1" src="C:\Sergio\bingo19\1v.png"></td>
  </tr>
  <tr>
    <td><img width="80" height="80" ng-show="la2 < 1" ng-click="la2 = la2 + 3" src="C:\Sergio\bingo19\2.png"><img width="v" height="80" ng-show="la2 > 1" src="C:\Sergio\bingo19\2v.png"></td>
  </tr>
  <tr>
    <td><img width="80" height="80" ng-show="la3 < 1" ng-click="la3 = la3 + 3" src="C:\Sergio\bingo19\3.png"><img width="80" height="v" ng-show="la3 > 1" src="C:\Sergio\bingo19\3v.png"></td>
  </tr>
  <tr>
    <td><img width="80" height="80" ng-show="la4 < 1" ng-click="la4 = la4 + 3" src="C:\Sergio\bingo19\4.png"><img width="80" height="80" ng-show="la4 > 1" src="C:\Sergio\bingo19\4v.png"></td>
  </tr>
  <tr>
    <td><img width="80" height="80" ng-show="la5 < 1" ng-click="la5 = la5 + 3" src="C:\Sergio\bingo19\5.png"><img width="80" height="80" ng-show="la5 > 1" src="C:\Sergio\bingo19\5v.png"></td>
  </tr>
  <tr>
    <td><img width="80" height="80" ng-show="la6 < 1" ng-click="la6 = la6 + 3" src="C:\Sergio\bingo19\6.png"><img width="80" height="80" ng-show="la6 > 1" src="C:\Sergio\bingo19\6v.png"></td>
  </tr>
  <tr>
    <td><img width="80" height="80" ng-show="la7 < 1" ng-click="la7 = la7 + 3" src="C:\Sergio\bingo19\7.png"><img width="80" height="80" ng-show="la7 > 1" src="C:\Sergio\bingo19\7v.png"></td>
  </tr>
  <tr>
    <td><img width="80" height="80" ng-show="la8 < 1" ng-click="la8 = la8 + 3" src="C:\Sergio\bingo19\8.png"><img width="80" height="80" ng-show="la8 > 1" src="C:\Sergio\bingo19\8v.png"></td>
  </tr>
  <tr>
    <td><img width="80" height="80" ng-show="la9 < 1" ng-click="la9 = la9 + 3" src="C:\Sergio\bingo19\9.png"><img width="80" height="80" ng-show="la9 > 1" src="C:\Sergio\bingo19\9v.png"></td>
  </tr>
</table>
