<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body data-ng-init="quantity=1;price=5">
<div ng-app="" ng-init="la0=0;la1=0;la2=0;la3=0;la4=0;la5=0;la6=0;la7=0;la8=0;la9=0;la10=0;la20=0;la30=0;la40=0;la50=0;la60=0;la70=0;la80=0;
  la11=0;la12=0;la13=0;la14=0;la15=0;la16=0;la17=0;la18=0;la19=0;
  la21=0;la22=0;la23=0;la24=0;la25=0;la26=0;la27=0;la28=0;la29=0;
  la31=0;la32=0;la33=0;la34=0;la35=0;la36=0;la37=0;la38=0;la39=0;
  la41=0;la42=0;la43=0;la44=0;la45=0;la46=0;la47=0;la48=0;la49=0;
  la51=0;la52=0;la53=0;la54=0;la55=0;la56=0;la57=0;la58=0;la59=0;
  la61=0;la62=0;la63=0;la64=0;la65=0;la66=0;la67=0;la68=0;la69=0;
  la71=0;la72=0;la73=0;la74=0;la75=0;la76=0;la77=0;la78=0;la79=0;
  la81=0;la82=0;la83=0;la84=0;la85=0;la86=0;la87=0;la88=0;la89=0">
<table cellspacing="10" width="130">
  <tr>
    <td><img width="120" height="100" ng-show="la0 < 1" ng-click="la0 = la0 + 3" src="..\0.png"><img width="120" height="80" ng-show="la0 > 1" src="..\0.png"></td>
    <td><img width="120" height="100" ng-show="la10 < 1" ng-click="la10 = la10 + 3" src="..\10.png"><img width="120" height="100" ng-show="la10 > 1" src="..\10v.png"></td>
    <td><img width="120" height="100" ng-show="la20 < 1" ng-click="la20 = la20 + 3" src="..\20.png"><img width="120" height="100" ng-show="la20 > 1" src="..\20v.png"></td>
    <td><img width="120" height="100" ng-show="la30 < 1" ng-click="la30 = la30 + 3" src="..\30.png"><img width="120" height="100" ng-show="la30 > 1" src="..\30v.png"></td>
    <td><img width="120" height="100" ng-show="la40 < 1" ng-click="la40 = la40 + 3" src="..\40.png"><img width="120" height="100" ng-show="la40 > 1" src="..\40v.png"></td>
    <td><img width="120" height="100" ng-show="la50 < 1" ng-click="la50 = la50 + 3" src="..\50.png"><img width="120" height="100" ng-show="la50 > 1" src="..\50v.png"></td>
    <td><img width="120" height="100" ng-show="la60 < 1" ng-click="la60 = la60 + 3" src="..\60.png"><img width="120" height="100" ng-show="la60 > 1" src="..\60v.png"></td>
    <td><img width="120" height="100" ng-show="la70 < 1" ng-click="la70 = la70 + 3" src="..\70.png"><img width="120" height="100" ng-show="la70 > 1" src="..\70v.png"></td>
    <td><img width="120" height="100" ng-show="la80 < 1" ng-click="la80 = la80 + 3" src="..\80.png"><img width="120" height="100" ng-show="la80 > 1" src="..\80v.png"></td>
  </tr>
  <tr>
    <td><img width="120" height="100" ng-show="la1 < 1" ng-click="la1 = la1 + 3" src="..\1.png"><img width="120" height="100" ng-show="la1 > 1" src="..\1v.png"></td>
    <td><img width="120" height="100" ng-show="la11 < 1" ng-click="la11 = la11 + 3" src="..\11.png"><img width="120" height="100" ng-show="la11 > 1" src="..\11v.png"></td>
    <td><img width="120" height="100" ng-show="la21 < 1" ng-click="la21 = la21 + 3" src="..\21.png"><img width="120" height="100" ng-show="la21 > 1" src="..\21v.png"></td>
    <td><img width="120" height="100" ng-show="la31 < 1" ng-click="la31 = la31 + 3" src="..\31.png"><img width="120" height="100" ng-show="la31 > 1" src="..\31v.png"></td>
    <td><img width="120" height="100" ng-show="la41 < 1" ng-click="la41 = la41 + 3" src="..\41.png"><img width="120" height="100" ng-show="la41 > 1" src="..\41v.png"></td>
    <td><img width="120" height="100" ng-show="la51 < 1" ng-click="la51 = la51 + 3" src="..\51.png"><img width="120" height="100" ng-show="la51 > 1" src="..\51v.png"></td>
    <td><img width="120" height="100" ng-show="la61 < 1" ng-click="la61 = la61 + 3" src="..\61.png"><img width="120" height="100" ng-show="la61 > 1" src="..\61v.png"></td>
    <td><img width="120" height="100" ng-show="la71 < 1" ng-click="la71 = la71 + 3" src="..\71.png"><img width="120" height="100" ng-show="la71 > 1" src="..\71v.png"></td>
    <td><img width="120" height="100" ng-show="la81 < 1" ng-click="la81 = la81 + 3" src="..\81.png"><img width="120" height="100" ng-show="la81 > 1" src="..\81v.png"></td>
  </tr>
  <tr>
    <td><img width="120" height="100" ng-show="la2 < 1" ng-click="la2 = la2 + 3" src="..\2.png"><img width="120" height="100" ng-show="la2 > 1" src="..\2v.png"></td>
    <td><img width="120" height="100" ng-show="la12 < 1" ng-click="la12 = la12 + 3" src="..\12.png"><img width="120" height="100" ng-show="la12 > 1" src="..\12v.png"></td>
    <td><img width="120" height="100" ng-show="la22 < 1" ng-click="la22 = la22 + 3" src="..\22.png"><img width="120" height="100" ng-show="la22 > 1" src="..\22v.png"></td>
    <td><img width="120" height="100" ng-show="la32 < 1" ng-click="la32 = la32 + 3" src="..\32.png"><img width="120" height="100" ng-show="la32 > 1" src="..\32v.png"></td>
    <td><img width="120" height="100" ng-show="la42 < 1" ng-click="la42 = la42 + 3" src="..\42.png"><img width="120" height="100" ng-show="la42 > 1" src="..\42v.png"></td>
    <td><img width="120" height="100" ng-show="la52 < 1" ng-click="la52 = la52 + 3" src="..\52.png"><img width="120" height="100" ng-show="la52 > 1" src="..\52v.png"></td>
    <td><img width="120" height="100" ng-show="la62 < 1" ng-click="la62 = la62 + 3" src="..\62.png"><img width="120" height="100" ng-show="la62 > 1" src="..\62v.png"></td>
    <td><img width="120" height="100" ng-show="la72 < 1" ng-click="la72 = la72 + 3" src="..\72.png"><img width="120" height="100" ng-show="la72 > 1" src="..\72v.png"></td>
    <td><img width="120" height="100" ng-show="la82 < 1" ng-click="la82 = la82 + 3" src="..\82.png"><img width="120" height="100" ng-show="la82 > 1" src="..\82v.png"></td>
  </tr>
  <tr>
    <td><img width="120" height="100" ng-show="la3 < 1" ng-click="la3 = la3 + 3" src="..\3.png"><img width="120" height="100" ng-show="la3 > 1" src="..\3v.png"></td>
    <td><img width="120" height="100" ng-show="la13 < 1" ng-click="la13 = la13 + 3" src="..\13.png"><img width="120" height="100" ng-show="la13 > 1" src="..\13v.png"></td>
    <td><img width="120" height="100" ng-show="la23 < 1" ng-click="la23 = la23 + 3" src="..\23.png"><img width="120" height="100" ng-show="la23 > 1" src="..\23v.png"></td>
    <td><img width="120" height="100" ng-show="la33 < 1" ng-click="la33 = la33 + 3" src="..\33.png"><img width="120" height="100" ng-show="la33 > 1" src="..\33v.png"></td>
    <td><img width="120" height="100" ng-show="la43 < 1" ng-click="la43 = la43 + 3" src="..\43.png"><img width="120" height="100" ng-show="la43 > 1" src="..\43v.png"></td>
    <td><img width="120" height="100" ng-show="la53 < 1" ng-click="la53 = la53 + 3" src="..\53.png"><img width="120" height="100" ng-show="la53 > 1" src="..\53v.png"></td>
    <td><img width="120" height="100" ng-show="la63 < 1" ng-click="la63 = la63 + 3" src="..\63.png"><img width="120" height="100" ng-show="la63 > 1" src="..\63v.png"></td>
    <td><img width="120" height="100" ng-show="la73 < 1" ng-click="la73 = la73 + 3" src="..\73.png"><img width="120" height="100" ng-show="la73 > 1" src="..\73v.png"></td>
    <td><img width="120" height="100" ng-show="la83 < 1" ng-click="la83 = la83 + 3" src="..\83.png"><img width="120" height="100" ng-show="la83 > 1" src="..\83v.png"></td>
  </tr>
  <tr>
    <td><img width="120" height="100" ng-show="la4 < 1" ng-click="la4 = la4 + 3" src="..\4.png"><img width="120" height="100" ng-show="la4 > 1" src="..\4v.png"></td>
    <td><img width="120" height="100" ng-show="la14 < 1" ng-click="la14 = la14 + 3" src="..\14.png"><img width="120" height="100" ng-show="la14 > 1" src="..\14v.png"></td>
    <td><img width="120" height="100" ng-show="la24 < 1" ng-click="la24 = la24 + 3" src="..\24.png"><img width="120" height="100" ng-show="la24 > 1" src="..\24v.png"></td>
    <td><img width="120" height="100" ng-show="la34 < 1" ng-click="la34 = la34 + 3" src="..\34.png"><img width="120" height="100" ng-show="la34 > 1" src="..\34v.png"></td>
    <td><img width="120" height="100" ng-show="la44 < 1" ng-click="la44 = la44 + 3" src="..\44.png"><img width="120" height="100" ng-show="la44 > 1" src="..\44v.png"></td>
    <td><img width="120" height="100" ng-show="la54 < 1" ng-click="la54 = la54 + 3" src="..\54.png"><img width="120" height="100" ng-show="la54 > 1" src="..\54v.png"></td>
    <td><img width="120" height="100" ng-show="la64 < 1" ng-click="la64 = la64 + 3" src="..\64.png"><img width="120" height="100" ng-show="la64 > 1" src="..\64v.png"></td>
    <td><img width="120" height="100" ng-show="la74 < 1" ng-click="la74 = la74 + 3" src="..\74.png"><img width="120" height="100" ng-show="la74 > 1" src="..\74v.png"></td>
    <td><img width="120" height="100" ng-show="la84 < 1" ng-click="la84 = la84 + 3" src="..\84.png"><img width="120" height="100" ng-show="la84 > 1" src="..\84v.png"></td>
  </tr>
  <tr>
    <td><img width="120" height="100" ng-show="la5 < 1" ng-click="la5 = la5 + 3" src="..\5.png"><img width="120" height="100" ng-show="la5 > 1" src="..\5v.png"></td>
    <td><img width="120" height="100" ng-show="la15 < 1" ng-click="la15 = la15 + 3" src="..\15.png"><img width="120" height="100" ng-show="la15 > 1" src="..\15v.png"></td>
    <td><img width="120" height="100" ng-show="la25 < 1" ng-click="la25 = la25 + 3" src="..\25.png"><img width="120" height="100" ng-show="la25 > 1" src="..\25v.png"></td>
    <td><img width="120" height="100" ng-show="la35 < 1" ng-click="la35 = la35 + 3" src="..\35.png"><img width="120" height="100" ng-show="la35 > 1" src="..\35v.png"></td>
    <td><img width="120" height="100" ng-show="la45 < 1" ng-click="la45 = la45 + 3" src="..\45.png"><img width="120" height="100" ng-show="la45 > 1" src="..\45v.png"></td>
    <td><img width="120" height="100" ng-show="la55 < 1" ng-click="la55 = la55 + 3" src="..\55.png"><img width="120" height="100" ng-show="la55 > 1" src="..\55v.png"></td>
    <td><img width="120" height="100" ng-show="la65 < 1" ng-click="la65 = la65 + 3" src="..\65.png"><img width="120" height="100" ng-show="la65 > 1" src="..\65v.png"></td>
    <td><img width="120" height="100" ng-show="la75 < 1" ng-click="la75 = la75 + 3" src="..\75.png"><img width="120" height="100" ng-show="la75 > 1" src="..\75v.png"></td>
    <td><img width="120" height="100" ng-show="la85 < 1" ng-click="la85 = la85 + 3" src="..\85.png"><img width="120" height="100" ng-show="la85 > 1" src="..\85v.png"></td>
  </tr>
  <tr>
    <td><img width="120" height="100" ng-show="la6 < 1" ng-click="la6 = la6 + 3" src="..\6.png"><img width="120" height="100" ng-show="la6 > 1" src="..\6v.png"></td>
    <td><img width="120" height="100" ng-show="la16 < 1" ng-click="la16 = la16 + 3" src="..\16.png"><img width="120" height="100" ng-show="la16 > 1" src="..\16v.png"></td>
    <td><img width="120" height="100" ng-show="la26 < 1" ng-click="la26 = la26 + 3" src="..\26.png"><img width="120" height="100" ng-show="la26 > 1" src="..\26v.png"></td>
    <td><img width="120" height="100" ng-show="la36 < 1" ng-click="la36 = la36 + 3" src="..\36.png"><img width="120" height="100" ng-show="la36 > 1" src="..\36v.png"></td>
    <td><img width="120" height="100" ng-show="la46 < 1" ng-click="la46 = la46 + 3" src="..\46.png"><img width="120" height="100" ng-show="la46 > 1" src="..\46v.png"></td>
    <td><img width="120" height="100" ng-show="la56 < 1" ng-click="la56 = la56 + 3" src="..\56.png"><img width="120" height="100" ng-show="la56 > 1" src="..\56v.png"></td>
    <td><img width="120" height="100" ng-show="la66 < 1" ng-click="la66 = la66 + 3" src="..\66.png"><img width="120" height="100" ng-show="la66 > 1" src="..\66v.png"></td>
    <td><img width="120" height="100" ng-show="la76 < 1" ng-click="la76 = la76 + 3" src="..\76.png"><img width="120" height="100" ng-show="la76 > 1" src="..\76v.png"></td>
    <td><img width="120" height="100" ng-show="la86 < 1" ng-click="la86 = la86 + 3" src="..\86.png"><img width="120" height="100" ng-show="la86 > 1" src="..\86v.png"></td>
  </tr>
  <tr>
    <td><img width="120" height="100" ng-show="la7 < 1" ng-click="la7 = la7 + 3" src="..\7.png"><img width="120" height="100" ng-show="la7 > 1" src="..\7v.png"></td>
    <td><img width="120" height="100" ng-show="la17 < 1" ng-click="la17 = la17 + 3" src="..\17.png"><img width="120" height="100" ng-show="la17 > 1" src="..\17v.png"></td>
    <td><img width="120" height="100" ng-show="la27 < 1" ng-click="la27 = la27 + 3" src="..\27.png"><img width="120" height="100" ng-show="la27 > 1" src="..\27v.png"></td>
    <td><img width="120" height="100" ng-show="la37 < 1" ng-click="la37 = la37 + 3" src="..\37.png"><img width="120" height="100" ng-show="la37 > 1" src="..\37v.png"></td>
    <td><img width="120" height="100" ng-show="la47 < 1" ng-click="la47 = la47 + 3" src="..\47.png"><img width="120" height="100" ng-show="la47 > 1" src="..\47v.png"></td>
    <td><img width="120" height="100" ng-show="la57 < 1" ng-click="la57 = la57 + 3" src="..\57.png"><img width="120" height="100" ng-show="la57 > 1" src="..\57v.png"></td>
    <td><img width="120" height="100" ng-show="la67 < 1" ng-click="la67 = la67 + 3" src="..\67.png"><img width="120" height="100" ng-show="la67 > 1" src="..\67v.png"></td>
    <td><img width="120" height="100" ng-show="la77 < 1" ng-click="la77 = la77 + 3" src="..\77.png"><img width="120" height="100" ng-show="la77 > 1" src="..\77v.png"></td>
    <td><img width="120" height="100" ng-show="la87 < 1" ng-click="la87 = la87 + 3" src="..\87.png"><img width="120" height="100" ng-show="la87 > 1" src="..\87v.png"></td>
  </tr>
  <tr>
    <td><img width="120" height="100" ng-show="la8 < 1" ng-click="la8 = la8 + 3" src="..\8.png"><img width="120" height="100" ng-show="la8 > 1" src="..\8v.png"></td>
    <td><img width="120" height="100" ng-show="la18 < 1" ng-click="la18 = la18 + 3" src="..\18.png"><img width="120" height="100" ng-show="la18 > 1" src="..\18v.png"></td>
    <td><img width="120" height="100" ng-show="la28 < 1" ng-click="la28 = la28 + 3" src="..\28.png"><img width="120" height="100" ng-show="la28 > 1" src="..\28v.png"></td>
    <td><img width="120" height="100" ng-show="la38 < 1" ng-click="la38 = la38 + 3" src="..\38.png"><img width="120" height="100" ng-show="la38 > 1" src="..\38v.png"></td>
    <td><img width="120" height="100" ng-show="la48 < 1" ng-click="la48 = la48 + 3" src="..\48.png"><img width="120" height="100" ng-show="la48 > 1" src="..\48v.png"></td>
    <td><img width="120" height="100" ng-show="la58 < 1" ng-click="la58 = la58 + 3" src="..\58.png"><img width="120" height="100" ng-show="la58 > 1" src="..\58v.png"></td>
    <td><img width="120" height="100" ng-show="la68 < 1" ng-click="la68 = la68 + 3" src="..\68.png"><img width="120" height="100" ng-show="la68 > 1" src="..\68v.png"></td>
    <td><img width="120" height="100" ng-show="la78 < 1" ng-click="la78 = la78 + 3" src="..\78.png"><img width="120" height="100" ng-show="la78 > 1" src="..\78v.png"></td>
    <td><img width="120" height="100" ng-show="la88 < 1" ng-click="la88 = la88 + 3" src="..\88.png"><img width="120" height="100" ng-show="la88 > 1" src="..\88v.png"></td>
  </tr>
  <tr>
    <td><img width="120" height="100" ng-show="la9 < 1" ng-click="la9 = la9 + 3" src="..\9.png"><img width="120" height="100" ng-show="la9 > 1" src="..\9v.png"></td>
    <td><img width="120" height="100" ng-show="la19 < 1" ng-click="la19 = la19 + 3" src="..\19.png"><img width="120" height="100" ng-show="la19 > 1" src="..\19v.png"></td>
    <td><img width="120" height="100" ng-show="la29 < 1" ng-click="la29 = la29 + 3" src="..\29.png"><img width="120" height="100" ng-show="la29 > 1" src="..\29v.png"></td>
    <td><img width="120" height="100" ng-show="la39 < 1" ng-click="la39 = la39 + 3" src="..\39.png"><img width="120" height="100" ng-show="la39 > 1" src="..\39v.png"></td>
    <td><img width="120" height="100" ng-show="la49 < 1" ng-click="la49 = la49 + 3" src="..\49.png"><img width="120" height="100" ng-show="la49 > 1" src="..\49v.png"></td>
    <td><img width="120" height="100" ng-show="la59 < 1" ng-click="la59 = la59 + 3" src="..\59.png"><img width="120" height="100" ng-show="la59 > 1" src="..\59v.png"></td>
    <td><img width="120" height="100" ng-show="la69 < 1" ng-click="la69 = la69 + 3" src="..\69.png"><img width="120" height="100" ng-show="la69 > 1" src="..\69v.png"></td>
    <td><img width="120" height="100" ng-show="la79 < 1" ng-click="la79 = la79 + 3" src="..\79.png"><img width="120" height="100" ng-show="la79 > 1" src="..\79v.png"></td>
    <td><img width="120" height="100" ng-show="la89 < 1" ng-click="la89 = la89 + 3" src="..\89.png"><img width="120" height="100" ng-show="la89 > 1" src="..\89v.png"></td>
  </tr>
</table>
<img width="640" height="1300" class="cala" align="left" src="..\carteleria\calasanz.png">
<img  class="cala2" align="left" src="..\combi.png">
<a href="index.html"><img class="reload" width="100" height="100" src="..\reload.png"></a>
</div>
</body>
<style>
  .cala{
    position: absolute; top: -20px; left: 1200px;
  }
  .cala2{
    position: absolute; top: 100px; left: 1625px;
  }
  .reload{
    position: absolute; top: 1050px; left: 1870px;
  }

</style>
</html>
